<ul class="emergency-contact-list">
  <li class="emergency-contact-item">
    <span class="emergency-contact-name">General Emergency</span>
    <span class="emergency-contact-number"><a href="tel:911">911</a></span>
  </li>
  <li class="emergency-contact-item">
    <span class="emergency-contact-name">Pasig City DRRMO Emergency Hotline</span>
    <span class="emergency-contact-number"><a href="tel:86430000">8643-0000</a></span>
  </li>
  <li class="emergency-contact-item">
    <span class="emergency-contact-name">Barangay Pinagbuhatan Action Center Hotline</span>
    <span class="emergency-contact-number"><a href="tel:88804609">8880-4609</a> or <a href="tel:88809394">8880-9394</a></span>
  </li>
  <li class="emergency-contact-item">
    <span class="emergency-contact-name">Barangay Santa Lucia Hotline</span>
    <span class="emergency-contact-number"><a href="tel:09173119756">0917 3119 756</a> or <a href="tel:09624964778">0962 496 4778</a></span>
  </li>
</ul>
